@*@using PizzaAplication.Models.Domain;



@using PizzaAplication.Models.ViewModels;
@model OrderDetailsViewModel
<p>@Model.UserFullname ordered @Model.PizzaName. @Model.UserFullname paid @Model.Price by @Model.PaymentMethod*@.@*</p>*@

<partial name="~/Views/Shared/Partial/OrderDetailsPartial.cshtml" for="@Model" />